{% extends 'base.html'%}
{% block content %}
    <div class="dashboard">
        <h1>Dashboard</h1>
        <ul>
            <li><a href="#">Student Report</a></li>
            <li><a href="#">Class Report</a></li>
            <li><a href="{{ url_for('admin.live_attendance') }}">Live Class Attendance</a></li>
            <li><a href="#">Scheduled Classes</a></li>
        </ul>
    </div>
    <script>
     
        var jsonData = "{data : {'reg_num': '2018/249610', 'firstname': 'Ezenma', 'lastname': 'Kelechi', 'level': 400, 'department': 'ECE', 'phone_number': '08099691232'}}";
        var parsedData = JSON.parse(jsonData);
        console.log(parsedData);

//        console.log(parsedData.reg_num);  // Output: 2018/249610
//        console.log(parsedData.firstname);  // Output: Ezenma
//        console.log(parsedData.lastname);  // Output: Kelechi
//        console.log(parsedData.level);  // Output: 400
 //       console.log(parsedData.department);  // Output: ECE
  //      console.log(parsedData.phone_number);  // Output: 08099691232


    </script>
{% endblock %}


