{% extends 'base.html' %}
{% block content %}
<button id="update-btn">Update</button>    
<div class="table-layer">
  <div class="attendance-table">
    <div class="table-row table-header">
        <div class="table-cell">Reg_Num</div>      
        <div class="table-cell">Full Name</div>
        <div class="table-cell">Department</div>
        <div class="table-cell">Arrival Time</div>
    </div>
    {% for record in records %}
        <div class="table-row">
            <div class="table-cell">{{ record['reg_num'] }}</div>      
            <div class="table-cell">{{ record['lastname'] }} {{ record['firstname'] }}</div>
            <div class="table-cell">{{ record['department'] }}</div>
            <div class="table-cell">{{ record['arrival_time'] }}</div>    
        </div>
    {% endfor %}
    <!-- Additional table rows here -->
  </div>
</div>

<script>
  // Function to fetch new data and update the table
  function updateTable() {
    console.log("Sending request")
    fetch("http://127.0.0.1:5000/admin/live-attendance-update")
      .then(response => {console.log('here'); return response.json()})
      .then(data => {
        var tbody = document.querySelector('.attendance-table');
        //var tbody = table;
          console.log("Response gotten")
          data.forEach(student => {
          var newRow = document.createElement('div');
          newRow.classList.add('table-row');
          
          var regNumberCell = document.createElement('div');
          regNumberCell.classList.add('table-cell');
          regNumberCell.textContent = student.reg_num;
          newRow.appendChild(regNumberCell);

          var fullNameCell = document.createElement('div');
          fullNameCell.classList.add('table-cell');
          var name = student.firstname + " " + student.lastname;
          fullNameCell.textContent = name;
          newRow.appendChild(fullNameCell);

          var departmentCell = document.createElement('div');
          departmentCell.classList.add('table-cell');
          departmentCell.textContent = student.department;
          newRow.appendChild(departmentCell);

          var arrivalTimeCell = document.createElement('div');
          arrivalTimeCell.classList.add('table-cell');
          arrivalTimeCell.textContent = student.arrival_time;
          newRow.appendChild(arrivalTimeCell);

          tbody.appendChild(newRow);
        });
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }

  // Call the updateTable function initially
  //updateTable();

  // Refresh the table every 5 seconds
  //setInterval(updateTable, 10000);
    btn = document.getElementById('update-btn');
    btn.addEventListener('click', updateTable);

    var source = new EventSource("/admin/live-attendance-update")
    source.addEventListener('onmessage', function(e){console.log(e);}, false)
    source.addEventListener('open', function(e){console.log('connection open'), false})
    source.addEventListener(
        'error', 
        function(e){
            if (e.readyState == EventSource.CLOSED){
                console.log('Connection CLOSED')
            }        
        },
        false
    )
</script>

{% endblock %}
