{% extends 'base.html' %}
{% block content %}    
<div class="table-layer">
  <div class="attendance-table">
    <div class="table-row table-header">
        <div class="table-cell">Reg_Num</div>      
        <div class="table-cell">Full Name</div>
        <div class="table-cell">Department</div>
        <div class="table-cell">Arrival Time</div>
    </div>
    {% for record in records %}
        <div class="table-row">
            <div class="table-cell">{{ record['reg_num'] }}</div>      
            <div class="table-cell">{{ record['lastname'] }} {{ record['firstname'] }}</div>
            <div class="table-cell">{{ record['department'] }}</div>
            <div class="table-cell">{{ record['arrival_time'] }}</div>    
        </div>
    {% endfor %}
    <!-- Additional table rows here -->
  </div>
</div>

<script>
    function updateTable(event){
             
         var student = JSON.parse(event.data);
        
         // Show alert with event message
             
         var tbody = document.querySelector('.attendance-table');
        
          var newRow = document.createElement('div');
          newRow.classList.add('table-row');

          var regNumberCell = document.createElement('div');
          regNumberCell.classList.add('table-cell');
          regNumberCell.textContent = student.reg_num;
          newRow.appendChild(regNumberCell);

          var fullNameCell = document.createElement('div');
          fullNameCell.classList.add('table-cell');
          var name = student.firstname + " " + student.lastname;
          fullNameCell.textContent = name;
          newRow.appendChild(fullNameCell);

          var departmentCell = document.createElement('div');
          departmentCell.classList.add('table-cell');
          departmentCell.textContent = student.department;
          newRow.appendChild(departmentCell);

          var arrivalTimeCell = document.createElement('div');
          arrivalTimeCell.classList.add('table-cell');
          arrivalTimeCell.textContent = student.arrival_time;
          newRow.appendChild(arrivalTimeCell);

          tbody.appendChild(newRow);
        } 


   const eventSource = new EventSource("{{ url_for('admin.get_live_attendance_update') }}");


    eventSource.addEventListener("open", (event) => { 
        console.log("Opened connection"); 
    });

    eventSource.addEventListener('close', function(event) {
        console.log('Connection closed');
    });


    eventSource.addEventListener("error", function(event) {
        console.log("Error occured");
        console.error('Error:', event);
     });
    
    eventSource.addEventListener("new_attendance", function(event){
        console.log("Message recieved");
        updateTable(event);
    })

</script>

{% endblock %}


